@charset "UTF-8";

@font-face {
    font-family: "Dosis";
    src:
        url("../fonts/Dosis-Regular.woff2") format("woff2"),
        url("../fonts/Dosis-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    ascent-override: 90%;
    descent-override: 10%;
    line-gap-override: 5%;
}

@font-face {
    font-family: "Dosis";
    src:
        url("../fonts/Dosis-SemiBold.woff2") format("woff2"),
        url("../fonts/Dosis-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    ascent-override: 90%;
    descent-override: 10%;
    line-gap-override: 5%;
}

@font-face {
    font-family: "Dosis";
    src:
        url("../fonts/Dosis-Bold.woff2") format("woff2"),
        url("../fonts/Dosis-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    ascent-override: 90%;
    descent-override: 10%;
    line-gap-override: 5%;
}

:root {
    --bs-font-sans-serif: "Dosis", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.6;
    --bg-grey-600: #333;
    --bg-gray-600: #e9e6e6;
    --bs-body-color: #ffffff;
    --bs-body-bg-image: url("../images/bg_light.png");
    --bs-body-bg: #000;
    --color-primary: #fff;
    --color-dark: #000;
    --color-gray: #636363;
    --color-popup: #fff;
    --theme-color: #ffcd00;
    --btn-color: #008eff;
    --xp-color: #ffcd00;
    --header-height: 32px;
    --side-menu-width: 180px;
    --slide-games-height: 132px;
    --card-game-width: 80px;
    --card-game-height: 80px;
    --container-border-radius: 18px;
    --black-alpha-02: #00000033;
    --ads-side-width: 312px;
    --side-menu-width-collapsed: 56px;
    --high-light: #0dd052;
    --high-light-hover: #058c35;
    --z-index-header: 1000;
    --vh-reca: 6.6px;

}


*,
*::before,
*::after {
    box-sizing: border-box
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    overflow: hidden;
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--bs-body-font-size) !important;
    font-weight: var(--bs-body-font-weight) !important;
    line-height: var(--bs-body-line-height) !important;
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
    -webkit-text-size-adjust: 100%;
    position: relative;
    -webkit-tap-highlight-color: transparent
}

hr {
    margin: 1rem 0;
    color: #f5f8fa;
    background-color: currentColor;
    border: 0;
    opacity: .9
}

hr:not([size]) {
    height: 1px
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.4;
    color: var(--bs-gray-900)
}

.app_container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.app_wrapper {}

.play-game-header {
    align-items: center;
    background-color: var(--bs-body-bg);
    bottom: 0;
    color: var(--color-primary);
    display: flex;
    flex-direction: row;
    height: 32px;
    max-height: 32px;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 0;
    visibility: visible;
    white-space: nowrap;
    width: 100%;
    z-index: var(--z-index-header);
    transition: width .2s linear;
}

.play-game-header-logo__link {
    align-items: center;
    display: flex;
    padding: 4px 12px;
}

.play-game-logo__service_type_header {
    max-height: 18px;
    padding-left: 2px;
}

.play-game-header__info {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.play-game-header__middle {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.play-game-header__middle .play-game-header__link {
    display: block;
    flex: 0 1 auto;
    margin-right: 8px;
    overflow: hidden;
    position: relative;
    text-align: left;
}

.play-game-header__middle .play-game-header__title {
    display: block;
    margin: 0;
    position: static;
}

.play-game-header__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-left: 0;
    padding-right: 2px;
}

.play-game-header__action {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hover {
    transition: opacity .1s ease-out;
}

.hover:hover {
    opacity: .8;
}

.pointer:hover {
    cursor: pointer;
}

.game_container {
    position: absolute;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;

}

.btn_close_sidebar {
    background-color: var(--high-light);
    color: var(--color-primary);
    position: static;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.btn_close_sidebar .svg-icon {
    width: 14px;
    height: 14px;
}

.side_container {
    position: absolute;
    display: flex;
    height: 100%;
    isolation: isolate;
    justify-content: center;
    width: 100%;
    right: 0;
    transition: right .15s linear;
}

.side_container_hidden {
    right: -100%;
}

.side_container_wrapper {
    bottom: 0;
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: var(--header-height);
    margin-top: calc(var(--header-height) * -1);
    width: var(--ads-side-width);
    padding-right: 6px;
    padding-left: 6px;
    overflow: auto;
}

.sidebar_close {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.side_container_wrapper::-webkit-scrollbar {
    display: none;
}

.ads_side_container {
    margin: 24px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ads_300x600 {
    width: 100%;
    height: 600px;
}

.ads {
    background-color: var(--bg-grey-600);
    width: 100%;
    height: 100%;
}

.grid_games_side {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 12px;
    grid-auto-rows: minmax(80px, auto);
    grid-auto-flow: dense;
}

.grid_games_side .card_slide {
    width: unset;
    height: unset;
}

.similar-games {
    align-items: flex-start;
    background: var(--bs-body-bg);
    bottom: 0;
    box-sizing: border-box;
    cursor: auto;
    display: flex;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    height: var(--slide-games-height);
    transition: width .2s linear;
}

.similar-games-container {
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    width: auto;
    margin-top: 0;
    position: relative;
}

.similar_game_all_btn {
    align-items: flex-start;
    background: var(--bs-body-bg);
    bottom: auto;
    display: inline-flex;
    margin: 12px 12px 0;
    gap: 8px;
    position: relative;
    z-index: 11;
}

.similar_game_link {
    padding-left: 0;
    padding-right: 6px;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
    align-items: center;
    background: var(--bg-grey-600);
    border-radius: 12px;
    display: flex;
    height: var(--card-game-height);
    justify-content: center;
    width: var(--card-game-width);
    color: var(--color-primary);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.close_button_all_games {
    background-color: var(--high-light);
    position: static;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_button_all_games .svg-icon {
    width: 14px;
    height: 14px
}

.game_area {
    transition: width .2s linear;
    position: relative;
    z-index: 9;
    height: calc(100% - var(--slide-games-height));
}

.no_bottom_game {
    height: 100%;
}

.game-iframe {
    display: block;
    vertical-align: bottom;
}

.games_home_related, .games_home_related_content {
    position: relative;
}

.recommended-games {
    max-width: 717px;
    width: 100%;
}

.recommended-game_heading {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px;
}

.games_home_related .swiper-container,
.games_home_related_content .swiper-container {
    padding: 8px 0;
    width: 100%;
}

.games_home_related_content .swiper-slide,
.games_home_related .swiper-slide {
    width: fit-content !important;
}

.action-button button {
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    color: var(--bs-body-bg);
    transition: background .2s ease;
    border: 1px solid;
    background-color: var(--bs-body-color);
    transition: background .2s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 11
}

.action-button button:first-child {
    left: 0;

}

.action-button button:last-child {
    right: 0;

}

.action-button button:hover {
    color: var(--bs-body-bg);
    background: var(--high-light);
}

.action-button button.swiper-button-disabled {
    display: none;
}

/*----------------card game-------------*/
.card_slide {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--bs-body-bg);
    background-clip: border-box;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid transparent;
    transition: border-color .2s linear;
    aspect-ratio: 1 / 1;
}

.card_slide .card-body {
    position: absolute;
    inset: 0 0 -2rem 0;
    text-align: center;
    padding: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(19, 19, 21, 0.1) 0%, rgba(19, 19, 21, 0.45) 75%, rgba(19, 19, 21, 0.76) 100%);
    z-index: 10;
    opacity: 0;
    transition: .25s;
    overflow: hidden;
    height: 100%;
}

.card_slide .h3 {
    font-size: 12px;
    font-weight: 500;
    color: #fff
}

.card_slide:hover {
    border-color: var(--high-light);
}

.card_slide:hover .card-body {
    opacity: 1;
    bottom: 0
}

.card_slide {
    width: var(--card-game-width);
    height: var(--card-game-height);
}

.card_slide>hr {
    margin-right: 0;
    margin-left: 0
}

.card_slide>.list-group {
    border-top: inherit;
    border-bottom: inherit
}

.card_slide>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.5rem - 1px);
    border-top-right-radius: calc(0.5rem - 1px)
}

.card_slide>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.5rem - 1px);
    border-bottom-left-radius: calc(0.5rem - 1px)
}

.card_slide>.card-header+.list-group,
.card_slide>.list-group+.card-footer {
    border-top: 0
}

/*----------------card game-------------*/

body.is_full .game_area {
    height: 100%;
}

.has_ads_side {
    width: calc(100% - var(--ads-side-width));
}

.no_ads .has_ads_side {
    width: 100%;
}

.no_ads .ads_side_container {
    display: none;
}

.play-game-header-menu__row-border {
    border: 1px solid #e8ecef;
    border-bottom: 0;
    margin: 0 20px;
}

.play-game-header-menu {
    max-height: calc(100vh - 48px);
    flex-direction: column;
    width: 360px;
    visibility: visible;
    display: none;
    z-index: 1400;
}

.play-game-header-menu__popup-container {
    background-color: var(--color-popup);
    border-radius: var(--container-border-radius);
    box-shadow: 0 3px 32px 0 var(--black-alpha-02);
}

.play-game-header-menu__popup-container .play-game-header__popup-arrow {
    width: 20px;
    height: 20px;
    left: calc(50% - 10px);
    top: 0px;
    transform: rotate(45deg) translateX(-50%);
    background: var(--color-popup);
    position: absolute;
    z-index: 998;
}

.play-game-header-menu__menu-container {
    border-radius: var(--container-border-radius);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.play-game-header-menu__popup-inner {
    overflow: auto;
}

.play-game-header-menu__footer {
    padding: 0 20px 20px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.play-game-header-menu__logo-button {
    padding: 6px 10px;
    background: var(--high-light);
    color: var(--color-primary);
    border-radius: 12px;
    text-decoration: none;
}

.play-game-header-menu__logo-button:hover {
    background: var(--high-light-hover);
    color: var(--color-primary);
}

.play-game-header-menu__rows {
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.play-game-header-menu__row {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    min-height: 55px;
    padding: 4px 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--color-dark);
}

.play-game-header-menu__row-text {
    font-size: 15px;
    margin-left: 12px;
}

.play-game-header-menu__game-description {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--color-dark);
    padding: 0 20px;
}

.play-game-header-menu__game-icon-wrapper {
    display: flex;
    flex-shrink: 0;
    position: relative;

}

.play-game-header-menu__game-icon {
    border-radius: 12px;
    height: 54px;
    width: 54px;
}

.play-game-header-menu__description-wrapper {
    flex: 1;
    margin-left: 16px;
}

.play-game-header-menu__game-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: var(--color-dark);
    margin: 0 0 5px;
    overflow: hidden;
}

.app-popup {
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    min-height: 100vh;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 32px;
    width: 100%;
    z-index: 10;
}

.app-popup__content {
    overflow: hidden;
    position: relative;
    z-index: 2;
    -webkit-overflow-scrolling: touch;
    background-color: var(--color-popup);
    border-radius: 16px 16px 0 0;
    height: calc(100% - 93px);
    margin-top: 61px;
    width: 798px;
}

.app-popup__close {}

.close_popup_content {
    right: 8px;
    top: 8px;
    z-index: 10;
    color: var(--color-dark);
    box-shadow: none;
    cursor: pointer;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: 0;
    position: absolute;
    transition: background-image .1s ease-out, background-color .1s ease-out, opacity .3s;
    width: 24px;
    border-radius: 50%;
}

.close_popup_content span {
    width: 14px;
    height: 14px;
}

.game-page {
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100% - 32px);
    margin: 20px 0 0;
    max-width: 798px;
    overflow: visible;
    padding: 0;
    color: var(--color-dark);
    min-height: 45vh;
    position: relative;
    top: 0;
    width: auto;
}

.game-page__short-description-content {
    display: flex;
    flex-shrink: 0;
    padding: 0 32px;
    margin-bottom: 16px;
    align-items: center;
}

.game-page__image-wrap {
    margin-left: 0;
    margin-right: 15px;
    display: inline-block;
    height: 100%;
    line-height: 0;
    position: relative;
    vertical-align: top;
}

.game-page__image {
    border-radius: 12px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    pointer-events: none;
}

.game-page__short-description-wrap {
    display: flex;
    align-items: flex-start;
    flex: 1;
    flex-direction: row;
    margin-bottom: 0;
    margin: -2px 25px 3px 0;
    overflow: hidden;
    position: relative;
}

.game-page__short-description {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
    padding: 12px 0;
}

.border-middle {
    height: 30px;
    width: 1px;
    margin: 0 5px;
    background: #ccc;
}

.game-page__short-description-top {
    display: flex;
    justify-content: space-between
}

.game-page__short-description-bottom {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.game-rating-description__star-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.game-rating-description .svg-icon {
    width: 15px;
    height: 15px;
    color: var(--high-light)
}

.game-page__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.game-page__content {
    overflow: auto;
    padding: 0 32px 20px;
}

.game-page_column {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.game-page__instruction {
    margin-bottom: 20px;
}

.game-description p {
    margin: 0 0 10px;
}

.game-description h2, .game-instruction h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: var(--high-light);
}

.game-description h3, .game-instruction h3 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: var(--high-light);
}

.game-description ol, .game-instruction ol,
.game-description ul, .game-instruction ul {
    padding-left: 24px;
    margin: 0 0 10px;
}

.game-description ol li, .game-instruction ol li,
.game-description ul li, .game-instruction ul li {
    list-style: disc;
    margin: 0 0 6px
}

.game-description a:not([class]), .game-instruction a:not([class]) {
    color: var(--high-light);
}

.game-description a:not([class]):hover, .game-instruction a:not([class]):hover {
    color: var(--high-light-hover);
}

.game-page__tags {
    max-width: 854px;
}

.game-tags, .related_categories {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-flow: row wrap;
}

.related_categories {
    padding: 0 32px;
    margin-bottom: 16px;
}

.game-tag, .game-cat {
    padding: 6px 10px;
    border-radius: 12px;
    background: var(--bg-gray-600);
    color: var(--color-gray);
    font-size: 14px;
    text-decoration: none;
    transition: all .3s linear;
}

.game-tag:hover, .game-cat:hover {
    background: var(--high-light);
    color: var(--color-primary);
}

.app-popup__bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.app-popup__bg_shadow {
    backdrop-filter: blur(10px);
    background-color: #0009;
}

@media (max-width: 1240px) {
    .ads_side_container, .play-game-header__open_side, .play-game-header__close_side {
        display: none;
    }

    :root {
        --ads-side-width: 0px
    }
}

.popup-hide-fixer {
    background-color: var(--black-alpha-02);
    bottom: 0;
    left: 0;
    opacity: .15;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1300;
}

.game_comment {
    margin: 12px 0;
}

.footer_menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 32px;
    background: linear-gradient(to top, #000, transparent);
    pointer-events: none;
}

.footer_menu:before {
    content: "";
    height: 1px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    background: linear-gradient(90deg, transparent, #fff, transparent);
}

.footer_menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 100%;
    gap: 24px;
}

.footer_menu>.footer_menu_list>.footer_menu_link {
    pointer-events: all;
}

.footer_menu_link {
    color: var(--color-primary);
    font-size: 14px;
    text-decoration: none;
}

.footer_menu_link:hover {
    color: var(--high-light);

}

.main-svg-sprite {
    display: none
}

.svg-icon {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 22px;
    fill: currentColor;
    font-size: 0
}

.svg-icon__link {
    vertical-align: top;
    fill: inherit;
    width: inherit;
    height: inherit
}

.hidden {
    display: none;
}

/*===============================*/

/* select filter cat*/
/*player button control*/
.game_vote, .player-footer, .contact-popup {
    --shadow-2: 0px 6px 30px rgba(0, 0, 0, .05);
    --box-bg-color: #ffffff;
    --btn-control: #efefef;
    --btn-control-hover: #d34949;
    --color-primary: #000000;
    --btn-text-extent: #030712;
    --text-btn-control: #0a0a1a;
    --text-btn-control-hover: #fff;
    --border-btn: #0000003d;
    --color-content-popup: #000000;
    --color-heading-popup: #000000;
}

.player-footer {
    border-radius: 8px;
    position: relative;
    margin: 12px 0 0;
    box-shadow: var(--shadow-2);
    width: 100%;
    background-color: var(--box-bg-color);
}

.player-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    z-index: 0;
}

.player-footer__item {
    padding: 0 10px;
}

.player-footer__left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.player-footer__left img {
    border-radius: 4px;
    max-width: 40px;
    object-fit: cover;
}

.player-footer__left h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    font-family: var(--font-heading);
    color: var(--color-primary);
    padding: 0;
}

.player-footer__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.g-footer__button {
    background: var(--btn-control) !important;
    color: var(--color-primary);
    border: 0;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
    border-radius: 50%;
    box-shadow: var(--shadow-2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.g-footer__button .svg-icon {
    width: 18px;
    height: 18px;
    transition: transform .2s cubic-bezier(.32, 1.2, .54, 1.17);
}

.g-footer__button-title {
    font-size: 10px;
    bottom: 4px;
    left: 50%;
    position: absolute;
}

.g-footer__button-title_last {
    opacity: 0;
}

.g-footer__button-title_first {
    background-color: transparent;
    color: var(--color-primary);
    opacity: 1;
}

.g-footer__button-title_text {
    border-radius: 16px;
    left: 0;
    padding: 0 4px;
    position: absolute;
    top: 0;
    transform: translate(-50%);
    transition: opacity .35s cubic-bezier(.32, 1.2, .54, 1.17);
    white-space: nowrap;
    background: var(--box-bg-color);
    font-weight: 500;
}

@media (hover: hover) and (pointer: fine) {
    .g-footer__button:hover .g-footer__button-title_last {
        background-color: var(--btn-text-extent);
        color: #fff;
        opacity: 1;
    }

    .g-footer__button:hover .g-footer__button-title_first {
        opacity: 0;
    }

    .g-footer__button:hover {
        transform: translateY(-3px);
        background: var(--btn-control-hover) !important;
        color: var(--text-btn-control-hover);
    }
}

.g-footer__button:hover .svg-icon {
    transform: rotate(-5deg);
}

.g-footer__button.voted, .g-footer__button.active {
    transform: translateY(-3px);
    background: var(--btn-control-hover) !important;
    color: var(--text-btn-control-hover);
}


/* ======================================== */

.box-comment {
    --bg-button-cmt: #d34949;
    --bg-button-cancel-cmt: #dddad4;
    --color-button-cancel-cmt: #525151;
    --text-cmt: #fff !important;
    --bg-avatar-cmt: #d34949;
    --text-avatar-cmt: #fff;
    --bg-form-cmt: transparent !important;
    --bg-cmt: #0c0c0c !important;
    border: none !important;
}

#comments_area {
    padding: 6px 16px !important;
}

/* =======popup========== */
.blur_dialog, .contact-popup {
    position: fixed;
    bottom: 0;
    top: 0;
    right: -330px;
    width: 330px;
    background-color: var(--box-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px 0 0;
    border: 1px solid var(--border-card);
    z-index: 1001;
    transition: right 0.3s ease-in-out;
}

.blur_dialog.active, .contact-popup.show {
    right: 0px;
}

label.label-contact-select {
    position: relative;
    display: inline-block;
    margin: 0 0 10px;
}

label.label-contact-select:before {
    content: "";
    height: 31px;
    position: absolute;
    right: 7px;
    top: 3px;
    width: 22px;
    background: transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: none;
    display: block;
}

label.label-contact-select:after {
    content: " ";
    position: absolute;
    right: 15px;
    top: 46%;
    margin-top: -3px;
    z-index: 2;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.9px 4px 0 4px;
    border-color: var(--color-primary) transparent transparent transparent;
    pointer-events: none;
}

/* Popup container */
.contact-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px 0 10px;
    border: 1px solid var(--border-btn);
    border-radius: 4px;
    line-height: 36px;
    background: var(--box-bg-color);
    height: 36px;
    color: var(--color-primary);
    margin: 0 0px 5px 0;
    width: 100%;
    font-family: inherit;
}

.contact-select:focus-visible {
    outline: 0;
}

select.contact-select::-ms-expand {
    display: none;
}

.error_form_contact, .error-message-email {
    font-size: 0.9em;
    color: var(--high-light);
    margin: 0 0 8px;
    display: none;
}

label.label-contact-select {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px;
}

.popup-heading {
    display: flex;
    align-items: center;
    flex-flow: nowrap;
    padding: 0 40px 0 16px;
    line-height: 1.5;
}

.popup-content {
    border-top: 1px solid var(--border-btn);
    font-size: 14px;
    color: var(--color-content-popup);
    padding: 8px 16px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
    height: 100%;
}

.content_inner_popup {
    padding-bottom: 100px;
}

.content_inner_popup h2:not([class]), .content_inner_popup h3:not([class]), .content_inner_popup h4:not([class]) {
    margin: 0 0 10px;
    color: var(--color-heading-popup);
}

.content_inner_popup h2:not([class]) {
    font-size: 24px;
    font-weight: 600;
}

.content_inner_popup h3:not([class]), .content_inner_popup h4:not([class]) {
    font-size: 20px;
    font-weight: 500;
}

.content_inner_popup ol:not([class]), .content_inner_popup ul:not([class]) {
    margin: 0 0 10px;
    padding-left: 24px;
}

.content_inner_popup ol:not([class]) li, .content_inner_popup ul:not([class]) li {
    list-style: disc;
    margin: 0 0 6px;
}

.content_inner_popup a:not([class]) {
    color: var(--color-heading-popup);
}

.content_inner_popup p:not([class]) {
    margin-bottom: 10px;
}

.check_box_contact {
    background-color: #fff;
    border: 3px solid var(--border-btn);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    height: 16px;
    margin: 0;
    width: 16px;
}

.form_contact {
    background: transparent;
    border: 1px solid var(--border-btn);
    color: var(--color-primary);
    max-width: 308px;
    resize: none;
    border-radius: 4px;
    transition: background-color .2s ease-in-out;
    width: 100%;
    font-family: inherit;
}

.contact_input {
    margin: 0 0 10px;
    padding: 8px 12px;
}

.contact_textarea {
    margin: 0 0 10px;
    padding: 8px 12px;
    height: 86px;
}

.icon_contact {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    margin-right: 10px;
}

.title_contact {
    font-size: 12px;
    color: var(--color-primary);
    flex: 1;
    padding: 14px 0;
}

.title_contact strong {
    font-size: 14px;
}

.close_contact {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.close_contact .svg-icon {
    width: 14px;
    height: 14px;
}

.feedback_image_checkbox {
    margin: 7px 0 0 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.contact-form button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.form_bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 4px 16px;
}

.popup-link_share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
    border: 1px solid var(--border-btn);
    border-radius: 4px;
    margin-top: 12px;
    position: relative;
    height: 40px;
    margin-bottom: 20px;
}

.popup-link-share--url {
    width: 100%;
    background: 0;
    border: 0;
    height: auto;
    color: var(--color-primary);
    flex: 1;
    padding-right: 12px;
}

.popup-link-share--copy {
    color: #8166ff;
    font-weight: 600;
}

.popup-link-share--copy:hover {
    cursor: pointer;
}

.title_change_log {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-primary);
    line-height: normal;
    letter-spacing: 1.1px;
}

.change_log_item {
    padding: 8px;
    border-radius: 8px;
    background: var(--btn-control);
    margin: 0 0 8px;
}

.content_change_log {
    margin-bottom: 6px;
    color: var(--color-content-popup);
    font-size: 14px;
    padding-left: 15px;
}

.content_change_log ul {
    padding-left: 16px;
    margin: 0;
}

.content_change_log ul li {
    list-style: disc;
    margin: 0 0 6px;
}

.notify-toast {
    background: #4CAF50;
    /* Green background */
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toast-content {
    font-size: 16px;
    font-weight: 600;
}

.notification-success {
    position: fixed;
    bottom: 12px;
    left: 12px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 -6px 74px 0 rgb(0 0 0 / 0.15);
    animation: show_toastt 1s ease forwards;
    z-index: 9999;
}

@keyframes show_toastt {
    0% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(10%);
    }

    80%, 100% {
        transform: translateX(20px);
    }
}

.notification-success.hide {
    animation: hide_toastt 1s ease forwards;
}

@keyframes hide_toastt {
    0% {
        transform: translateX(20px);
    }

    40% {
        transform: translateX(10%);
    }

    80%, 100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}

.notification-success .toastt {
    border-radius: 10px;
    border-left: 5px solid #2ecc71;
    background: #fff;
    padding: 8px 12px;
    box-shadow: 1px 7px 14px -5px rgb(0 0 0 / 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-success .toastt .content {
    display: flex;
    gap: 12px;
    align-items: center;
}

.notification-success .toastt.offline {
    border-color: #ccc;
}

.content_notification .details {
    margin-left: 15px;
}

.details span {
    font-size: 20px;
    font-weight: 500;
    color: #878787;
}

.details p {
    color: #878787;
    margin: 0;
}

.toastt .content_notification {
    display: flex;
    align-items: center;
}

.toastt .content_notification .icon {
    background: #ccc;
    height: 50px;
}

.toastt .content_notification .icon img {
    max-width: 50px;
    display: block;
    height: 100%;
    object-fit: cover;
}